@charset "UTF-8";

:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%));
  background-color: lightskyblue;
}

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  margin: auto;
  width: 80%;
  display: grid;
  place-items: center;
}

body {
  margin: 0px;
  font-family: var(--font-family);
  color: var(--dark-color);
  background: var(--bg-gradient);
}

.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

.topline {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay {
  width: 50%;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-55%, -50%);
}

.overlay__inner {
  width: 80%;
  margin: auto;
  text-align: center;
}

.overlay__title {
  font-size: 50px;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
}

.text-gradient {
  background-image: linear-gradient(45deg,
      var(--base) 25%,
      var(--complimentary2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-bottom: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--base);
  /*var(--base);*/
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--base);
  text-align: center;
  color: var(--light-color);
}

.button:focus {
  outline: 0;
}

.button:before,
.button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--base) 20%, transparent 30%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--base) 15%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--base) 15%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%), radial-gradient(circle, var(--base) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.button:active {
  transform: scale(0.9);
  background-color: var(--complimentary1);
  box-shadow: 0 2px 25px var(--complimentary1);
}

.button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
